In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2
from PIL import Image

%matplotlib inline

In [4]:
import pickle

In [6]:
# Load pickle data
df = pickle.load(open('data/dataframe_images_100_100.pickle','rb'))

In [7]:
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,female,188,180,184,188,173,179,192,178,216,...,109,111,115,116,122,116,119,120,117,111
1,female,32,24,32,27,29,29,29,32,36,...,58,47,27,33,22,28,22,36,62,17
2,female,22,30,39,36,30,61,11,17,10,...,156,171,177,186,176,185,186,190,177,177
3,female,35,35,35,35,35,35,35,35,35,...,75,82,90,92,86,70,89,84,84,74
4,female,86,86,71,54,45,49,33,20,18,...,35,34,32,32,30,32,34,34,33,30

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5467 entries, 0 to 6057
Columns: 10001 entries, gender to 9999
dtypes: object(1), uint8(10000)
memory usage: 52.2+ MB

In [9]:
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

In [12]:
## deleting missing values
df.dropna(axis=0,inplace=True)

In [13]:
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

In [14]:
##we weill split the data to indpendent and dependent
x = df.iloc[:,1].values # indpendent
y = df.iloc[:,0].values # dependent

In [15]:
x.shape

(5467,)

In [16]:
y.shape

(5467,)

In [17]:
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,female,188,180,184,188,173,179,192,178,216,...,109,111,115,116,122,116,119,120,117,111
1,female,32,24,32,27,29,29,29,32,36,...,58,47,27,33,22,28,22,36,62,17
2,female,22,30,39,36,30,61,11,17,10,...,156,171,177,186,176,185,186,190,177,177
3,female,35,35,35,35,35,35,35,35,35,...,75,82,90,92,86,70,89,84,84,74
4,female,86,86,71,54,45,49,33,20,18,...,35,34,32,32,30,32,34,34,33,30

In [18]:
x.min() , x.max()

(0, 255)

In [19]:
xnorm = x / x.max()

In [21]:
xnorm.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [22]:
xnorm

array([0.7372549 , 0.1254902 , 0.08627451, ..., 0.09803922, 0.08235294,
       0.01568627])

In [23]:
xnorm.shape

(5467,)

In [24]:
y

array(['female', 'female', 'female', ..., 'male', 'male', 'male'],
      dtype=object)

In [26]:
#when training the moudle it will be not feasabel to train letters so we will have to convert these to numbers
# if its a female = 1 and if a male = 0 
y_norm = np.where(y=='female',1,0)

In [27]:
y_norm

array([1, 1, 1, ..., 0, 0, 0])

In [28]:
# saving x and y
np.savez('data/data_100_100_norm',xnorm,y_norm)